* {
    font-family: roboto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin: 0px;
    background-color: #0B0C10; 
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    justify-content: center; 
}

input {
    outline: none;
    border: 0px;
    background-color: #1F2833;
    color: white;
}

.main-screen {
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center; 
}

.main-screen > div {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
}

.left-main {
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.middle-main {
    display: flex;
    flex-shrink: 2;
}

.right-main {
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.text-areas {
    outline: none;
    resize: none;
    flex: 5;
    padding: 25px;
    font-size: 28px;
    border: 0px; 
    background-color: #1F2833;
    color: white;
}

.num-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-container > input {
    box-sizing: border-box;
    width: 50px;
    padding: 0px;
    text-align: center;
    font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-buttons {
    border-top: 5px #66FCF1 solid;
    padding: 7px;
    font-size: 28px;
}

.mode-container {
    padding-left: 50px;
}

.mode-buttons {
    padding: 7px;
    font-size: 28px;
    border: 0px;
    background-color: #1F2833;
    color: white;
}

#main-title {
    color: #66FCF1;
}